<div class="shop-page">
  <div class="container shop-layout">
    <div class="shop-main">
      <div class="shop-header">
        <h2 class="section-title">Ordina!</h2>
        <a routerLink="/dashboard" class="btn-dashboard"> Dashboard Utente </a>
      </div>
      <select
        class="category-select"
        #categoria
        (change)="selezionacategoria(categoria.value)"
      >
        <option value="">Tutte le categorie</option>
        @for (categoria of categorie(); track categoria) {
        <option [value]="categoria.slug">{{ categoria.name }}</option>
        }
      </select>
      <div class="search-box">
        <input
          type="text"
          placeholder="Cerca prodotto..."
          #ricerca
          (input)="cercaProdotto(ricerca.value)"
        />
      </div>
      <div class="prodotti-grid">
        @for (prodotto of filtroprod(); track prodotto.id) {
        <app-productcard [proddi]="prodotto"></app-productcard>
        }
      </div>
    </div>

    <app-minicart></app-minicart>
  </div>
</div>
