<div class="stats-page">
  <h1>Statistiche</h1>

  <div class="charts">
    @for (chart of metricoptions; track chart.label) {
      <div class="chart-card">
        <div class="chart-head">
          <h3>{{ chart.label }}</h3>
        </div>
        @if(chart.shop$ | async; as chartShop){
          <canvas baseChart [type]="'bar'" [data]="chartShop" [legend]="false"></canvas>
        }
        @if (chart.order$ | async; as chartOrder) {
          <canvas baseChart [type]="'line'"  [options]="chartoptions" [data]="chartOrder" [legend]="false"></canvas>
        }
      </div>
    }
    <div class="chart-card">
      <h3>Totale speso: {{ totalSpent$ | async | number: '1.2-2'}} €</h3>
</div>
  </div>
</div>